
	<foter class="footer">
		<div class="footer-inner">
			<p class="footer-item">Gruas e Izajes © 2015</p>
			<a class="footer-item" href="http://www.conpax.cl/"><img src="/img/peru.jpg"></a>
		</div>
		<div class="footer-inner">
			<p class="footer-item">Con el respaldo de</p>
			<a class="footer-item" href="http://www.conpax.cl/">Iccgsa</a>
			<a class="footer-item" href="http://www.conpax.cl/">Conpax</a>
			<a class="footer-item" href="http://www.conpax.cl/">Multiservice</a>
		</div>
	</foter>