
	<header class="header">
		<nav class="nav">
			<a class="logo" href="/"><img src="/img/logo-white.png"></a>
			<div class="menus">
				<div class="main-menu">
					<a class="main-menu-item" href="/about">Nosotros</a>
					<a class="main-menu-item" href="/experience/Proyecto-Miski-Mayo-3">Experiencia</a>
					<a class="main-menu-item" href="/equipment">Equipos</a>
				</div>
				<div class="secondary-menu">
					<a class="secondary-menu-item" href="/contact">Contáctenos</a>
					<a class="secondary-menu-item" href="/work">Únete a Nosotros</a>
				</div>
			</div>
			<span class="button-menu"><i class="fa fa-bars"></i></span>
		</nav>
		<div class="mobile-menu">
			<a class="mobile-menu-item" href="/about">Nosotros</a>
			<a class="mobile-menu-item" href="/experience">Experiencia</a>
			<a class="mobile-menu-item" href="/equipment">Equipos</a>
			<a class="mobile-menu-item" href="/contact">Contáctenos</a>
			<a class="mobile-menu-item" href="/work">Únete a Nosotros</a>
		</div>
	</header>