{% extends './partials/base.html' %}

{% block title %} Grúas e Izajes | Nosotros {% endblock %}

{% block styles %}

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/about.css">

{% endblock %}

{% block elements %}

	<!-- <img class="cover" src="img/cover2.jpg"></img> -->

	<section class="about">
		<article class="about-section" data-row>
			<div data-column>
				<p class="title">Nuestra Historia</p>
				<div class="text">
					GRUAS E IZAJES S.A.C., tiene como accionistas a empresas lideres en sus correspondientes mercados.
					<br><br>
					Por un lado tenemos a la empresa peruana ICCGSA, con una impecable trayectoria de 47 años en el sector de construcción de infraestructura; asimismo, las empresas chilenas CONPAX, con una experiencia de 27 años en el sector de construcción minera, aguas y electricidad.
					<br><br>
					Junto a MULTSERVICE, con más de 22 años en el mercado de arriendo de grúas y servicios de izajes y maniobras; suman experiencias y voluntades para traer al Perú el management y know how y el primer parque de Grúas Pesadas Nuevas marca LIEBHERR al Perú, y con todo el apoyo y asistencia técnica de la fábrica Liebherr en Alemania quien también inicia oficialmente sus actividades en Perú.
				</div>
			</div>
			
		</article>
		<div class="three-container">
			<article class="about-section three">
				<p class="title">Mision</p>
				<div class="text">Brindar al mercado peruano equipos de izaje modernos con alta disponibilidad mecánica, operados por personal altamente capacitado; ofreciendo un excelente servicio basado en  la calidad, seguridad, salud en el trabajo y cuidando nuestro medio ambiente.</div>
              
              <p class="title">Vision</p>
				<div class="text">Ser una empresa líder del Perú en el rubro de alquiler de equipos de izaje, sobrepasando la expectativa de nuestros clientes; cultivando relaciones duraderas  a largo plazo con los mismos, con nuestros proveedores y con nuestro personal.</div>

			</article>
			
			<article class="about-section three">
  
				<h1 class="title">Políticas de Calidad</h1>
                    <table><tbody><tr>
  						<td class="text">Grúas e Izajes dedicada a brindar servicios de alquiler de equipos de izaje, declara su compromiso con la calidad, seguridad, salud en el trabajo y cuidado del medio ambiente, en el desarrollo de sus actividades.
					<br><br>
					Para lograrlo, Grúas e Izajes se compromete a brindar a sus clientes un nivel de atención acorde a los requisitos establecidos y acordados.
					También está comprometida con la  prevención de daños al medio ambiente y el deterioro de la salud en el lugar de trabajo, para ello  proporciona un ambiente de trabajo sano y seguro, evitando la contaminación ambiental.</td>
                        <td class="text" valign="top">Asimismo, asegura el mejoramiento continuo de sus procesos, estableciendo objetivos de mejora y metas que permitan evaluar su desempeño y aplicar las acciones necesarias para alcanzar los logros propuestos, contribuyendo con el desarrollo de las competencias del personal involucrado. Grúas e Izajes cumple con los requisitos legales y otros compromisos que la organización suscriba relacionados a la seguridad, salud en el trabajo, así como con el medio ambiente.</td>
  						
						</tr>
                          </tbody></table>
  			</article>
		</div>
	</section>

{% endblock %}
<!-- 		<article class="about-section center">
			<p class="title">Mision</p>
			<div class="text">Asistir a las empresas de los diversos sectores económicos, con el suministro de grúas del más elevado nivel tecnológico como son las grúas marca LIEBHERR de procedencia alemana, para brindar soluciones técnicas con los más altos estándares de seguridad en las operaciones de izajes y montajes industriales y mineros; y alquiler.</div>
		</article>
		<article class="about-section center">
			<p class="title">Vision</p>
			<div class="text">Por el momento contamos con 2 grúas de 90 toneladas, 2 de 130 toneladas y 1 de 350 toneladas disponibles para atender sus requerimientos; posteriormente se irán incorporando otras grúas nuevas que oportunamente anunciaremos; en caso de requerir otro tipo de grúas podemos gestionar su ingreso temporal a fin de atender las necesidades de nuestros clientes.</div>
		</article>
		<article class="about-section right" data-row>
			<figure class="img" data-column><img src="img/slide3.jpg"></figure>
			<div data-column>
				<p class="title">Sistema de Gestion</p>
				<div class="text">
					Soluciones integrales a las operaciones de izajes y montajes industriales y mineros, a través del más alto estándar de la industria, que corresponde a la integración de Operadores experimentados y certificados.
					<br><br>
					Las mejores Grúas del mercado marca Liebherr y además nuevas; con protocolos y procedimientos de trabajo seguro; un equipo de profesionales de respaldo, y que sumado a la experiencia de sus accionistas en construcciones de infraestructura y expertos en construcciones minera, eléctrica e industrial.
					<br><br>
					Junto a una experticia de servicios de arriendo e Izajes ante los mejores y más exigentes clientes, son una garantía de un servicio de primer nivel.
				</div>
			</div>
		</article> -->
					<!-- <br><br>
					Las mejores Grúas del mercado marca Liebherr y además nuevas; con protocolos y procedimientos de trabajo seguro; un equipo de profesionales de respaldo, y que sumado a la experiencia de sus accionistas en construcciones de infraestructura y expertos en construcciones minera, eléctrica e industrial. -->