<!DOCTYPE html>
<html>
<head>
    <title>Gruas e Izajes | admin</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
        .container {
            max-width: 400px;
            margin-top:  50px;
        }
        input {
            margin-top: 15px;
        }
        button {
            margin-top: 30px;
        }
    </style>
</head>
<body>

<div class="container">

    <form class="form-signin" action="/login" method="post">
        <h3 class="form-signin-heading">Inicia sesion para administrar</h3>
        <input name="username" type="text" class="form-control" placeholder="Usuario" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    </form>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>