{% extends './partials/base.html' %}

{% block title %} Grúas e Izajes | Experiencia - Single {% endblock %}

{% block styles %}

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/experience-single.css">

{% endblock %}

{% block elements %}

	<img class="cover" src="/img/cover.jpg"></img>

	<section class="experiences">
		<article class="experience">
			<!-- <img class="experience-cover" src="img/experiencie-cover.jpg"></img> -->
			<p class="experience-title">Battery, Performance, and Drive options.</p>
			<div class="experience-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.<br><br> Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.lorem
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.<br><br> Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.<br><br> Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="experience-slider">
				<div class="slider-image">
					<i class="fa fa-chevron-left"></i>
					<i class="fa fa-chevron-right"></i>
					<img src="/img/experience-slide1.jpg">
					<img src="/img/experience-slide2.jpg">
					<img src="/img/experience-slide3.jpg">
					<img src="/img/experience-slide4.jpg">
				</div>
			</div>
		</article>
	</section>

	<section class="more-projects">
		<p class="more-projects-title">PROJECTS YOU MIGHT BE INTERESTED IN</p>
		<div class="projects">
			<article class="project">
				<div class="project-inner">
					<img class="project-img" src="/img/project1.jpg">
					<div class="project-title">TWO YEARS OF PREPARATION FOR A FIFTEEN-MINUTE CROSSING.</div>
				</div>
			</article>
			<article class="project">
				<div class="project-inner">
					<img class="project-img" src="/img/project2.jpg">
					<div class="project-title">TWO YEARS OF PREPARATION FOR A FIFTEEN-MINUTE CROSSING.</div>
				</div>
			</article>
			<article class="project">
				<div class="project-inner">
					<img class="project-img" src="/img/project3.jpg">
					<div class="project-title">TWO YEARS OF PREPARATION FOR A FIFTEEN-MINUTE CROSSING.</div>
				</div>
			</article>
		</div>
	</section>
	
{% endblock %}

{% block scripts %}

	<script type="text/javascript" src="/js/experience-slider.js"></script>
	
{% endblock %}